
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.oneProduct-body {
  width: 1110px;
  margin: auto;

  &_heading {
    font-size: 40px;
    margin: 60px 0px 20px 0px;
  }

  &_navigation {
    margin: 0px 0px 60px 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;

    &_link {
      color: #000000;
      text-decoration: none;

      &:hover {
        color: #6E9C9F;
      }
    }

    & span {
      color: #919191;        color: #998E78;
    }
  }

  &_card {
    width: 1004px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;

    &_img-body {
      width: 364px;
    }
    
    &_img {
      width: 364px;
    }

    &_body {
      margin: 0px auto;
      padding: 0px 50px;

      & p {
        font-size: 18px;

        & span {
          font-size: 25px;
          color: #998E78;
        }
      }

      & input {
        width: 59px;
        height: 59px;
        text-align: center;
      }

      & button {
        margin-left: 10px;
        width: 268px;
        height: 60px;
        background: #6E9C9F;
        color: #fff;
        font-size: 15px;
        border: none;
      }
    }
  }
}