
.shopCollection-body {
  width: 1110px;
  margin: 0 auto;

  & p {
    color: #808080; 
    margin: 30px 0px 0px 0px;
  }

  &_buttons-group {
    display: flex;
    justify-content: center;
    margin: 0px 0px 60px 0px;

    &_button {
      width: 41px;
      height: 41px;
      margin: 0 3px;
      border: 1px solid #000000;
      background: #ffffff;
      color: #000000;
    }

    &_button-active {
      width: 41px;
      height: 41px;
      margin: 0 3px;
      border: 1px solid #000000;
      background: #000000;
      color: #ffffff;
    }
  }
}

.card_body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  & input {
  width: 59px;
  height: 59px;
  text-align: center;
  }

  & button {
    margin-left: 10px;
    width: 230px;
    height: 60px;
    background: #6E9C9F;
    color: #fff;
    font-size: 15px;
    border: none;
  }
}