body {
  height: 100;
}

.layout {
  display: flex;
  flex-direction:column;
  height: 100%;

  &_menu {
    flex-grow: 0;
  }

  &_outlet {
    flex-grow: 1;
  }

  &_footer {
    flex-grow: 0;
  }
}